@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

canvas {
    cursor: normal;
    display: none;
    transform: translateX(-33%) translateY(-50px);
}

@media screen and (max-width: 991px) {
    #canvas_box {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .about_us_heading {
        padding-top: 70px;
    }
}

#about_section {
    font-family: 'Lato', sans-serif;
    color: #a3aeba;
}

.about_us_heading {
    /* color: #DDDBFE; */
    color: #a3aeba;
    font-size: 40px;
}

.about_division {
    height: 2px;
    margin-top: 11px;
    background: rgb(163,174,186);
    border-radius: 50px;
    transform: translateX(20px);
}

.about_content {
    color: #a3aeba;
}

