@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

.glitch-font-h3 {
    font-family: "Turret Road", sans-serif;
    /* font-family: "Josefin Sans", sans-serif; */
    /* font-family: 'Pirata One', cursive; */
    letter-spacing: 3px;
}

.glitch-font {
    position: relative;
    color: #0c59a1;
    mix-blend-mode: lighten;
    margin: auto;
    font-family: "Turret Road", sans-serif;
    letter-spacing: 3px;
    font-size: 2.5vw;
    /*it works best when uppercase ¯\_(ツ)_/¯ */
    text-transform: uppercase;
}
@media screen and (max-width: 991px) {
    .glitch-font {
        font-size: 3.5vw;
    }
}
@media screen and (max-width: 768px) {
    .glitch-font {
        font-size: 5vw;
    }
}
@media screen and (max-width: 576px) {
    .glitch-font {
        font-size: 6vw;
    }
}

.glitch-font:before,
.glitch-font:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    clip: rect(0, 0, 0, 0);
}

.glitch-font:before {
    left: -4px;
    text-shadow: 6px 0 #ff00ff;
}

.glitch-font:hover:before {
    text-shadow: 4px 0 #ff00ff;
    animation: glitch-anim-1 0.4s infinite ease-in-out alternate-reverse;
}

.glitch-font:after {
    left: 4px;
    text-shadow: -3px 0 #00ffc8;
}

.glitch-font:hover:after {
    text-shadow: -5px 0 #00ffc8;
    animation: glitch-anim-2 0.3s infinite ease-in-out alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip: rect(30px, 9999px, 10px, 0);
    }
    25% {
        clip: rect(15px, 9999px, 100px, 0);
    }
    50% {
        clip: rect(50px, 9999px, 105px, 0);
    }
    75% {
        clip: rect(2px, 9999px, 80px, 0);
    }
    100% {
        clip: rect(90px, 9999px, 100px, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        top: -1px;
        left: 50px;
        clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
        top: -10px;
        left: 1px;
        clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
        top: -7px;
        left: 20px;
        clip: rect(65px, 9999px, 11px, 0);
    }
    75% {
        top: 10px;
        right: 20px;
        left: -50px;
        clip: rect(95px, 9999px, 53px, 0);
    }
    100% {
        top: -5px;
        left: -7px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}