@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Initial Condition in Mobile and Desktop View */
#mobile_humberger_menu {
    display: none;
}

#desktop_menu {
    display: block;
}

#navbar_with_home {
  background-image: url('');
  background-size: cover;
  background-position: center;
}

.navbar {
    background: transparent;
    z-index: 100;
    position: fixed;
    right: 0;
}

.navbar-toggler,
.navbar-toggler-icon,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler-icon:active,
.navbar-toggler-icon:focus {
    /* display: none !important; */
    border: none !important;
    outline: none !important;
}

.navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
    .navbar-brand {
        padding-top: 10px;
    }
}

.navbar-brand img {
    width: 70px;
    height: auto;
    transform: scale(1.4) translateY(-8px);
    margin-right: 10px;
}

@media screen and (max-width: 576px) {
    .navbar-brand img {
        width: 60px;
    }
}

a.nav-link {
    letter-spacing: 0.8px;
    color: #000 !important;
    transition: 0.8s;
}

a.nav-link:hover {
    color: black !important;
    transform: translateY(-4px);
}

.navbar_register_btn {
    font-weight: 500;
    text-transform: uppercase;
    border: 1.5px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    transition: 0.8s;
}

.navbar_register_btn:hover {
    color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: translateY(-4px);
}


/********* Mobile Humberger Menu */

/* Default Humberger Menu */
@media screen and (max-width: 991px) {
    #navbarSupportedContent {
        display: none;
    }
}

#mobile_humberger_menu {
    width: 100%;
    height: 100%;
    padding-top: 4.3px;
}

.humberger_link_box {
    clear: both;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.humberger_logo img {
    width: 70px;
    height: auto;
    transform: scale(1.4) translateY(-10px) translateX(11.2px);
}

@media screen and (max-width: 576px) {
    .humberger_logo img {
        width: 60px;
    }
}

a.humberger_link {
    text-align: center;
    display: block;
    margin: auto;
    color: black;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.7s;
}

a.humberger_link:active,
a.humberger_link:focus {
    outline: none;
    color: rgb(0, 0, 0);
    transform: translateY(-8px);
}

.close_humberger_menu_btn {
    float: right;
    font-size: 32px;
    color: black;
    background: transparent;
    border: none;
    transition: 0.7s;
}

.humberger_social_media_box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.humberger_social_media_box a {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 8px;
    font-size: 24px;
    color: black;
    transition: all 0.5s;
}

.humberger_social_media_box a:hover {
    color: black;
    transform: scale(1.2) !important;
}

.close_humberger_menu_btn:active,
.close_humberger_menu_btn:focus {
    outline: none;
}