@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.svg_logo {
    width: 100%;
    height: auto;
}

.winners_trophy {
    max-width: 100%;
    height: 90px;
    display: block;
    margin: auto;
}

.winners_details_box {
    color: lightslategray;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
}

.winners_details {
    display: flex;
    flex-direction: column;
}

.winners_details span {
    font-weight: bold;
}

img.winners_gallery {
    transition: 0.6s !important;
}

img.winners_gallery:hover {
    transform: translateY(-6px) !important;
}

.youtube_video_box iframe {
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 575px) {
    .youtube_video_box iframe {
        height: 300px;
    }   
}