/*@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.svg_logo {
    width: 100%;
    height: auto;
}

.winners_trophy {
    max-width: 100%;
    height: 90px;
    display: block;
    margin: auto;
}

.winners_details_box {
    color: lightslategray;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
}

.winners_details {
    display: flex;
    flex-direction: column;
}

.winners_details span {
    font-weight: bold;
}

img.winners_gallery {
    transition: 0.6s !important;
}

img.winners_gallery:hover {
    transform: translateY(-6px) !important;
}

.youtube_video_box iframe {
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 575px) {
    .youtube_video_box iframe {
        height: 300px;
    }   
}*/

.wrapper-1{
    position: relative;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    width:100%;
    max-width: 650px;
    height: fit-content;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.card-1{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 440px;
    background: rbga(255, 246, 246);
    border: 2px solid #000;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
    border-radius: 2%;
}
.card-1 #front{
    width: 100%;
    height:100%;
    margin-top: 10%;
    padding: 10px;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.card-1 img{
    width: 100%;
    height:100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}

.descriptions{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgb(255, 246, 246);
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
    font-size: 25px;
}
.card-1:hover .descriptions{
    left:0px;
    background-color: rgb(255, 255, 255);
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}
.card-1:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}
.card-1:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card-1:hover #front{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card-1 h1{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
}
.card-1 p{
    line-height: 24px;
    height: 70%;
}
.card-1 button{
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color:#fff;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
}
.card-1 button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}
  
.emoji {
    display: inline-block;
    text-align: center;
    font-size: 5rem;
    line-height: 5rem;
    transform: scale(0.5);
    animation: scaleCup 2s infinite alternate;
}
  
@keyframes scaleCup {
    0% {
        transform: scale(0.6);
    } 
    
    100% {
        transform: scale(1);
    }
}  
  
  .modal-btn {
    display: block;
    margin: 0 -2rem -2rem -2rem;
    padding: 1rem 2rem;
    font-size: .75rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border-radius: 0 0 .25rem .25rem;
    background-color: var(--green);
    text-decoration: none;
  }
  
  @keyframes confettiRain {
    0% {
      opacity: 1;
      margin-top: -100vh;
      margin-left: -200px;
    } 
    
    100% {
      opacity: 1;
      margin-top: 100vh;
      margin-left: 200px;
    }
  }
  
  .confetti {
    opacity: 0;
    position: absolute;
    width: 1rem;
    height: 1.5rem;
    transition: 500ms ease;
    animation: confettiRain 5s infinite;
  }
  
  #confetti-wrapper {
     overflow: hidden !important;
  }
  