@charset "utf-8";

#scroll_bar {
    position: fixed;
    top: 50%;
    left: 4.2%;
    z-index: 999;
    transform: translate(0%, -45%);
    width: 130px;
    line-height: 1.8;
    text-align: left;
    font-size: 12px;
}

.scrollbar_link {
    border-left: 1.5px solid #000;
    border-radius: 6px;
    padding: 14px 10px;
    text-decoration: none;
    color: #000;
}

.scrollbar_link:hover {
    text-decoration: none;
    color: #000;
}

.scrollbar_link span:nth-child(2) {
    display: none;
}

.scrollbar_link:hover span:nth-child(2) {
    display: inline !important;
    animation-name: scrollRight;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes scrollRight {
    0% {
        position: absolute;
        left: 0px;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        position: absolute;
        left: 32px;
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    #scroll_bar {
        display: none;
    }
}