*, *::before, *::after { box-sizing: border-box; }
.text--glitch {
  margin-left: 35%;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  letter-spacing: .025em;
  text-transform: uppercase;
  
  text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
              -.05em -.025em 0 rgba(0, 255, 0, .75),
              .025em .05em 0 rgba(0, 0, 255, .75);
  
  animation: glitch 525ms infinite;
}

.text--glitch::before, 
.text--glitch::after {
  content: attr(data-text);
  position: absolute;
  letter-spacing: .025em;
  top: 0;
  left: 0;
  opacity: .7;
}
.text--glitch::before {
  animation: glitch 675ms infinite;
  transform: translate(-.035em, -.025em);
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
.text--glitch::after {
  animation: glitch 333ms infinite;
  transform: translate(.035em, .025em);
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

@keyframes glitch {
  0% {
    text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
                -.05em -.025em 0 rgba(0, 255, 0, .75),
                .025em .05em 0 rgba(0, 0, 255, .75);
  }
  14% {
    text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
                -.05em -.025em 0 rgba(0, 255, 0, .75),
                .025em .05em 0 rgba(0, 0, 255, .75);
  }
  15% {
    text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
                .025em .025em 0 rgba(0, 255, 0, .75),
                -.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  49% {
    text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
                .025em .025em 0 rgba(0, 255, 0, .75),
                -.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  50% {
    text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
                .05em 0 0 rgba(0, 255, 0, .75),
                 0 -.05em 0 rgba(0, 0, 255, .75);
  }
  99% {
    text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
                .05em 0 0 rgba(0, 255, 0, .75),
                 0 -.05em 0 rgba(0, 0, 255, .75);
  }
  100% {
    text-shadow: -.025em 0 0 rgba(255, 0, 0, .75),
                -.025em -.025em 0 rgba(0, 255, 0, .75),
                -.025em -.05em 0 rgba(0, 0, 255, .75);
  }
}


@media(prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition-delay: 0s !important;
    animation-delay: -1ms !important;
    scroll-behavior: auto !important;
    animation-duration: 1ms !important;
    transition-duration: 0s !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
  }
}